.App{
    height: 100vh;
    width: 100vw;
    background: var(--background2);
}

.primary{
    background: var(--primary1);
    padding: 40px;
}

.secondary{
    background: var(--secondary1);
    padding: 20px;
}